// ========================================
// variables
// ========================================

$default-font: 'Noto Sans Mono', monospace;

$primary: #c0fb50;

$white: #fff;
$black: #000;

$transition-primary: 300ms ease-in-out;
