// ========================================
// test-module
// ========================================

.target {
	@include responsive-font(16, 40, 320, 1920);
	color: $white;
}

.target--desktop {
	@include small {
		display: none;
	}
}

.target--mobile {
	@include desktop {
		display: none;
	}
}
